{% extends 'base.html' %}

{% block content %}
<h1>Suppliers</h1>

<p>
  <a href="/suppliers/new">New Supplier</a>
</p>

<table>
  <tr>
    <th>Product</th>
    <th>Description</th>
    <th>Maufacturer</th>
    <th>Stock Quantity</th>
    <th>Reorder Level</th>
    <th>Stock Status</th>
  </tr>
  {% for supplier in suppliers %}
  <tr>
    <td><a href="/products/{{ supplier.product.id }}">{{ supplier.product.name }} </a></td>
    <td>{{ supplier.product.description}} </td>
    <td><a href="/manufacturers/{{ supplier.manufacturer.id }}"> {{supplier.manufacturer.name}} </a></td>
    <td>{{ supplier.product.stock_qty }} </td>
    <td>{{ supplier.product.reorder_level }} </td>
    <td>{% if supplier.product.stock_qty >= supplier.product.reorder_level %} 
            <a class = "green">OK</a>
        {% elif supplier.product.stock_qty >= (supplier.product.reorder_level / 2) %}
            <a class = "yellow">LOW STOCK</a>
        {% elif supplier.product.stock_qty <= 0 %}
            <a class = "red">OUT OF STOCK</a>               
        {% else%}
            <a class = "orange">VERY LOW STOCK</a>
        {% endif %}
    </td>
    <td>
      <form action="/suppliers/{{ supplier.product.id }}/delete" method="POST">
        <input type="submit" value="Delete" />
      </form>
    </td>
  </tr>
  {% endfor %}
</table>
{% endblock %}