{% extends 'base.html' %}

{% block content %}
<h1>Suppliers</h1>

<p>
  <a href="/suppliers/new">New Supplier</a>
</p>

<table>
  <tr>
    <th>Product</th>
    <th>Description</th>
    <th>Maufacturer</th>
  </tr>
  {% for supplier in suppliers %}
  <tr>
    <td>{{ supplier.product.name }}</td>
    <td>{{ supplier.product.description}}</td>
    <td>{{supplier.manufacturer.name}}</td>
    <td>
      <form action="/suppliers/{{ supplier.id }}/delete" method="POST">
        <input type="submit" value="Delete" />
      </form>
    </td>
  </tr>
  {% endfor %}
</table>
{% endblock %}