{% extends 'base.html' %}

{% block content %}
<h1>Add a Supplier</h1>

<h2>Note: Please ensure the product and manufacturer have both been added already.</h2>

<form action="/suppliers" method="post">
  <label for="product">Select a product:</label>
    <select name="product_id" id="product">
      {% for product in products %}
      <option value="{{ product.id }}">{{ product.name }}</option>
      {% endfor %}
    </select>
  
  <label for="manufacturer">Select a manufacturer:</label>
    <select name="manufacturer_id" id="manufacturer">
      {% for manufacturer in manufacturers %}
      <option value="{{ manufacturer.id }}">{{ manufacturer.name }}</option>
      {% endfor %}
    </select>
  
  <input type='submit' value="Add Supplier">
</form>

{% endblock %}