{% extends 'base.html' %}

{% block content %}
<h1>Manufacturers</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Address</th>
    <th>Contact</th>
    <th>Telephone</th>
    <th>Email
    <th>Website</th>
  </tr>
  {% for manufacturer in manufacturers %}
  <tr>
    <td><a href="/manufacturers/{{ manufacturer.id }}"> {{manufacturer.name}} </a></td>
    <td>{{ manufacturer.address }}</td>
    <td>{{ manufacturer.contact }}</td>
    <td>{{ manufacturer.telephone }}</td>
    <td>{{ manufacturer.email }}</td>
    <td><a href="{{ manufacturer.website }}">{{ manufacturer.website }}</a></td>
    <td><a href="/manufacturers/{{manufacturer.id}}/edit">Edit</a></td>
    <td>
      <form action="/manufacturers/{{manufacturer.id}}/delete" method="POST">
        <button><b>Delete</b></button>
      </form>
    </td>
  </tr>
  {% endfor %}
  <tr>
    <td>
      <form>
        <input type="text" id = "name" name="name">
      </form>
    </td>
    <td>
      <form>
        <input type="text" id = "address" size="50" name="address">
      </form>
    </td>
    <td>
      <form>
        <input type="text" id = "contact" name="contact">
      </form>
    </td>
    <td>
      <form>
        <input type="text" id = "telephone" size="15" name="telephone">
      </form>
    </td>
    <td>
      <form>
        <input type="email" id = "email" size="25" name="email">
      </form>
    </td>
    <td>
      <form>
        <input type="text" id = "website" size="25" name="website">
      </form>
    </td>
    <td>
      <form action="/manufacturers/add" method="POST">
        <button><b>Add</b></button>
      </form>
    </td>
  </tr>
</table>
{% endblock %}