<!DOCTYPE html>
<html>
<head>
  <title>Inventory Controller</title>
  <link href="https://fonts.googleapis.com/css?family=Merriweather|Special+Elite" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
  
</head>
<body>
  <header>
    <h1> Pick a Corner Grocery </h1>
  </header>
<main>
  <nav>
    <ul>
      <li>
        <a href="/manufacturers">Manufacturers</a>
      </li>
      <li>
        <a href="/products">Products</a>
      </li>
      <li>
        <a href="/suppliers">Suppliers</a>
      </li>
    </ul>
  </nav>
  <section id="content">
      {% block content %}

      {% endblock%}
  </section>
  </main>
</body>
</html>