{% extends 'base.html'%}

{% block content %}
<h1>Inventory Management System</h1>

<h2>Sitemap:</h2>

<h3>
    <a href="/">Home</a><br>
<p>
    <a href="/manufacturers">&ensp;Manufacturers</a><br>
    <a>&ensp;Edit manufacturer page (only accessible by clicking records on the manufacturers page) </a>
</p>
<p>
     <a href="/products">&ensp;Products</a><br>
    <a>&ensp;Edit product page (only accessible by clicking records on the product page) </a><br>
</p>
<p>
    <a href="/suppliers">&ensp;Suppliers</a><br>
</p>
    <a href="/inventory">&ensp;Inventory</a><br>
<p>
    <a href="/sitemap">&ensp;Sitemap</a><br>
</p>
</h3>


{% endblock %}